.content {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}

.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.appBarSpacer {
    padding-right: 24px;
}

.welcomeRow {
    background-color: #1F3933;
    color: #fff;
    height: 150px;
}

.creatorRow {
    background-color: #E7E6AE;
    color: #000;
    height: 150px; 
}

.businessRow {
    background-color: #F2F0EB;
    color: #000;
    height: 150px; 
}

.welcomeRow, .creatorRow, .businessRow {
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}